/*-----------Web Bangla Fonts  ---------------------*/
@font-face {
     font-family: solaimanlipi;
     font-weight: normal;
     font-style: normal;
     src: url("//masudprobd.github.io/font/bd/solaimanlipi.ttf")
}
/*-----------End Bangla Fonts  ---------------------*/

/*-----------Bangla Fonts  ---------------------*/
@font-face {
     font-family: balooda;
     font-weight: normal;
     font-style: normal;
     src: url("//masudprobd.github.io/font/bd/balooda.ttf")
}
/*-----------End Bangla Fonts  ---------------------*/



/*-----------Icon Fonts  ---------------------*/
@font-face
{font-family:fontawesomepro;
font-style:normal;
font-weight:400;
src: url("//masudprobd.github.io/font/font-awesome/fontawesomepro.ttf")
}
/*----------- End Icon Fonts  ---------------------*/



/*-----------Eng_regu Fonts  ---------------------*/
@font-face {
     font-family: eng_regu;
     font-weight: normal;
     font-style: normal;
     src: url("//masudprobd.github.io/font/en/eng_regu.ttf")
}
/*-----------End Eng_regu Fonts  ---------------------*/